.video {
	text-align: center;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	width: 100%;
}
.wrapper {
	position: relative;
}
.side-nav-left {
	position: absolute;
	left: 0;
	top: 0;
	width: 15%;
	height: 25%;
}
.home-button {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 15%;
	height: 25%;
}
.side-nav-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	height: 25%;
}