.video {
	text-align: center;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	height: auto;
	width: 100%;
}
.wrapper {
	position: relative;
}
.side-nav-left {
	position: absolute;
	left: 0;
	top: 0;
	width: 15%;
	height: 25%;
}
.home-button {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 15%;
	height: 25%;
}
.side-nav-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	height: 25%;
}
/***nav-icons***/
svg {
	display: block;
    margin: auto;
    margin-top: 20%;
}
.st0{fill:#FFFFFF;}
.st1{fill:#1A457F;}