/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: myriadProBold;
  src: url('./assets/fonts/myriad/MyriadPro-Bold.otf')  format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: myriadProBold;
}