.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  grid-gap: 60px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: #004380;
  font-family: 'Roboto', sans-serif;
  padding: 60px;
  /* outline: none; */
}

.header {
  grid-column: 1 / -1;
}

img {
  width: 450px;
}

.container > div {
  font-size: 2.6em;
  color: #fff;
  width: 100%;
  height: 100%;
  outline: none;
}

.container > div:first-child {
  display: flex;
  align-items: center;
  font-size: 2em;
}

.container > div:not(:first-child) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004b8b;
}

.container > div:not(:first-child):active {
  background-color: #398ccb;
}

/* .overview {
}

.wagon-guard {
}

.cbm {
}

.automation {
} */