<h2>
  Home Component! (temporary title)
</h2>

<div class="menu-container">

  <div class="hex-wrapper">
    <div class="hex-row shift">
      <div class="hexagon" id="nav-video1">
        Video1
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-video2">
        Video 2
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
    </div>
    <div class="hex-row">
      <div class="hexagon" id="nav-video3">
        Video 3
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-home">
        Home
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-video5">
        Video 5
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
    </div>
    <div class="hex-row shift">
      <div class="hexagon" id="nav-video6">
        Video 6
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
      <div class="hexagon" id="nav-video7">
        Video 7
        <div class="face1"></div>
        <div class="face2"></div>
      </div>
    </div>
  </div>
</div>
